<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Vigía</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/projects">Proyectos</a></li>
            <li><a href="/tasks">Tareas</a></li>

            {% if user.is_authenticated %}
                <li><a href="/create_project">Crear Proyecto</a></li>
                <li><a href="/create_tasks">Crear Tarea</a></li>
                <li><strong>Hola, {{ user.username }}!</strong></li>
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                <li><a href="{% url 'register' %}">Registrarse</a></li>
            {% endif %}
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
